@import 'material-symbols';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Toolbar */
  .tb-bg {
    background: rgba(10, 10, 10, 0.75);
  }

  .tb-card {
    @apply flex tb-bg p-2 rounded-lg content-center gap-x-2 text-neutral-content;
  }

  .tb-item {
    @apply flex flex-row items-center content-center p-2 hover:bg-base-content rounded-lg cursor-pointer;
  }

  .tb-item-on {
    @apply text-green-200 hover:bg-green-600 bg-green-800;
  }

  .tb-item-off {
    @apply text-red-200 hover:bg-red-700 bg-red-800;
  }

  /* Dropdown */
  .dd-item {
    @apply flex flex-row items-center content-center p-4 hover:bg-base-content rounded-lg cursor-pointer;
  }

  /* Box */

  .edit-card {
    @apply rounded py-1 px-2 flex flex-row gap-1 content-center items-center;
    background: rgba(220, 220, 220, 0.75);
  }
  .chat-box {
    @apply rounded-lg p-4 flex flex-col gap-2;
    background: rgba(220, 220, 220, 0.75);
    min-width: 250px;
    min-height: 150px;
  }

  /* Chat */
  /* .chat-input {
    
  } */

  .bg-main {
    background-image: linear-gradient(
        0deg,
        transparent calc(100% - 1px),
        rgb(240, 240, 240) calc(100% - 1px)
      ),
      linear-gradient(
        90deg,
        transparent calc(100% - 1px),
        rgb(240, 240, 240) calc(100% - 1px)
      );
    background-size: 32px 32px;
    background-repeat: repeat;
    background-position: center center;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.box-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.box-scrollbar::-webkit-scrollbar-track {
border-radius: 10px;
box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
}

.box-scrollbar::-webkit-scrollbar-thumb {
background-color: rgba(50, 50, 50, .5);
border-radius: 10px;
box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}